extends layout 

block content 
  h1=title 
  div  
    p <span>Author:</span>  #{author}
    p <span>Genre:</span>  #{genre}
    p <span>Year:</span> #{year}
  
  div 
    p 
      a(href="/") Back
    p 
      a(href="/books/" + id + "/edit") Edit Book  
    p 
      a(href="/books/" + id + "/delete") Delete Book